/* desbest edit */
@media screen and (max-width: 480px){

    input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):not([type="image"]):not([type="search"]), textarea{
      box-sizing: border-box;
    }


  fieldset, 
  #mediamanager__page, 
  #mediamanager__page .filelist{ 
    max-width: 100%; min-width: unset; 
  }
  #mediamanager__page .file, 
  #mediamanager__page .namespaces, 
  #mediamanager__page .panel { 
    width: 100%; clear: both; float: none;
  }
  li, dd { margin: 1.15em 0px !important; }
  #config__manager tr { }
  #config__manager td { display: block;  padding: 1.15em 0px; max-width: 75%;  }

  fieldset { width: unset; }
  #config__manager fieldset td.value { width: unset; }

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  #config__manager td input.edit { 
    max-width: 75%; 
  }

  /* drop specific */
  .newmetamenu li { padding: 0.15em; display: inline-block; margin: 1em 1.15em !important; } 
  .site-header { line-height: unset; height: 6em; }
  .title-info { margin-top: 2.35em; }
  #dw__search button[type="submit"]{ margin-top: 1.15em; }
  .entry { padding-top: 0px !important; }
  button { margin: 8px 8px; }
  #writtensidebar li { display: block; }
}



@media all and (max-width: 47.5em) {
  .newmetamenu li { display: inline-block; margin-bottom: 0.35em;}
}

 /* ============ */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling 
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  body {
    background: #e6e6e6;
  }

  /* skip content link */
  .skip-content:focus {
    top: 2em;
  }
}


/* 500px */
@media all and (min-width: 31.25em) {
  .site-header {
    padding: 0 11.11%;
  }

  .title-info {
    right: 11.11%;
  }
}
/* 600px */
@media all and (min-width: 37.5em) {
  .menu-slider {
    width: 50%;
    padding: 3em 5.55%;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .site-header {
    width: __sidebar_width__;
    padding: 0;
    float: left;
    z-index: 1;
    background: none;
    height: auto;
  }
  .site-header:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .title-info {
    right: auto;
    text-align: center;
    width: 100%;
    position: relative;
    padding: 24px 16.65%;
    background: #cccccc;
  }
  .title-info .site-title {
    font-size: 2.625em;
    line-height: 1.14;
    text-shadow: -0.063em 0.063em #b3b3b3;
  }
  .title-info .site-title a,
  .title-info .site-title a:link,
  .title-info .site-title a:visited {
    color: #575757;
  }
  .title-info .site-title a:hover,
  .title-info .site-title a:active,
  .title-info .site-title a:focus {
    color: #666666;
  }
  .title-info .site-title img {
    max-width: 4.5em;
    max-height: 0.95em;
  }

  .ie9 .site-title a:hover, .ie9 .site-title a:active, .ie9 .site-title a:focus {
    color: #666666;
  }

  .menu-slider {
    width: 100%;
    height: auto;
    padding: 0 16.65%;
    background: none;
    color: #666666;
    position: relative;
  }

  .site-info img {
    border-color: #b3b3b3;
  }
  .site-info hr {
    color: #cccccc;
    border-color: #cccccc;
  }

  button.toggle-button {
    display: none;
  }

  #menu-primary-items,
  .menu-unset > ul {
    margin: 0;
  }
  #menu-primary-items ul,
  .menu-unset > ul ul {
    position: absolute;
    top: 1.5em;
    left: -999em;
    background: #cccccc;
    -webkit-transition: top 0.2s ease;
    transition: top 0.2s ease;
  }
  #menu-primary-items ul.focused,
  .menu-unset > ul ul.focused {
    left: 100%;
    top: 0;
  }
  #menu-primary-items ul li a,
  .menu-unset > ul ul li a {
    color: #555555;
  }
  #menu-primary-items ul li a:link, #menu-primary-items ul li a:visited,
  .menu-unset > ul ul li a:link,
  .menu-unset > ul ul li a:visited {
    color: #555555;
  }
  #menu-primary-items ul li a:hover, #menu-primary-items ul li a:active, #menu-primary-items ul li a:focus,
  .menu-unset > ul ul li a:hover,
  .menu-unset > ul ul li a:active,
  .menu-unset > ul ul li a:focus {
    color: #28805d;
  }
  #menu-primary-items ul,
  .menu-unset > ul ul {
    overflow: visible;
    /* overwriting previous code */
  }
  #menu-primary-items li,
  .menu-unset > ul li {
    position: relative;
    overflow: visible;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #menu-primary-items li:hover > ul, #menu-primary-items li:active > ul, #menu-primary-items li:focus > ul,
  .menu-unset > ul li:hover > ul,
  .menu-unset > ul li:active > ul,
  .menu-unset > ul li:focus > ul {
    left: 100%;
    top: 0;
  }
  #menu-primary-items li a,
  #menu-primary-items li a:link,
  #menu-primary-items li a:visited,
  .menu-unset > ul li a,
  .menu-unset > ul li a:link,
  .menu-unset > ul li a:visited {
    color: #666666;
  }
  #menu-primary-items li a:hover,
  #menu-primary-items li a:active,
  #menu-primary-items li a:focus,
  .menu-unset > ul li a:hover,
  .menu-unset > ul li a:active,
  .menu-unset > ul li a:focus {
    color: #28805d;
  }
  #menu-primary-items li a:focus,
  .menu-unset > ul li a:focus {
    background: whitesmoke;
  }

  .social-media-icons li a,
  .social-media-icons li a:link,
  .social-media-icons li a:visited {
    color: #666666;
  }
  .social-media-icons li a:hover,
  .social-media-icons li a:active,
  .social-media-icons li a:focus {
    color: #28805d;
  }
}
/* 1100 */
@media all and (min-width: 68.75em) {
  .title-info .site-title img {
    max-width: 5.5em;
  }

  .menu-slider img {
    width: 6em;
  }
}


/* 500px */
@media all and (min-width: 31.25em) {
  .page-header {
    padding: 1.5em 11.11%;
  }

  .excerpt {
    margin: 1.5em 11.11% 4.5em;
  }

  .sticky {
    margin: 0;
    padding: 1.5em 11.11% 4.5em;
  }

  .featured-image {
    height: 264px;
  }

  .loop-pagination {
    margin: 1.5em 11.11%;
  }
}
/* 600px */
@media all and (min-width: 37.5em) {
  .excerpts-container {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .excerpts-container.open {
    -webkit-transform: translateY(96px);
    -ms-transform: translateY(96px);
    transform: translateY(96px);
    padding-bottom: 96px;
  }

  .page-header > div {
    display: block;
  }
  .page-header h2,
  .page-header p {
    max-width: 80%;
  }
}
/* 700px */
@media all and (min-width: 43.75em) {
  .featured-image {
    height: 312px;
  }

  .excerpt {
    border-bottom: none;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .main {
    float: right;
    /*width: 66.66%;*/
    width: calc(100% - __sidebar_width__);
  }
  .main:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .page-header {
    background: #28805d;
    padding: 1.5em 8.33%;
  }
  .page-header h2 {
    text-shadow: -0.063em 0.063em #20664a;
    font-size: 2.625em;
    line-height: 1.14;
  }

  .excerpt {
    margin: 1.5em 8.33% 4.5em;
  }

  .sticky {
    margin: 0;
    padding: 1.5em 8.33% 4.5em;
    outline-offset: -0.25em;
  }

  .loop-pagination {
    margin: 1.5em 8.33%;
  }
}
/* 1100 */
@media all and (min-width: 68.75em) {
  .page-header {
    padding: 1.5em 16.67%;
  }

  .excerpt {
    margin: 1.5em 16.67% 4.5em;
    position: relative;
  }

  .sticky {
    margin: 0;
    padding: 1.5em 16.67% 4.5em;
  }
  .sticky .excerpt-meta {
    right: 83.5%;
    top: 1.5em;
  }

  .excerpt-meta {
    position: absolute;
    right: 100%;
    width: 25%;
    top: 0;
    font-size: 0.813em;
    line-height: 1.85;
    padding: 0 3% 0 2.08%;
    text-align: right;
  }
  .excerpt-meta span {
    display: block;
  }

  .excerpt-date {
    font-weight: 700;
  }

  .excerpt-date:after,
  .excerpt-author:after {
    content: '';
  }

  .loop-pagination {
    margin: 1.5em 16.67%;
  }
}


/* 500px */
@media all and (min-width: 31.25em) {
  .entry-meta-top,
  .entry-header,
  .entry-meta-bottom {
    margin: 0 11.11%;
  }

  .entry-content {
    margin: 1.5em 11.11%;
  }

  .further-reading p {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  .further-reading .next {
    text-align: right;
  }
}
/* 700px */
@media all and (min-width: 43.75em) {
  .entry-categories span,
  .entry-tags span {
    display: inline-block;
    float: left;
    height: 48px;
    margin-right: 1em;
  }
  .entry-categories a,
  .entry-tags a {
    font-size: 16px;
    line-height: 24px;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .entry .featured-image {
    height: 360px;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .entry {
    padding-top: 48px;
  }

  .entry.has-post-thumbnail {
    padding-top: 0;
  }

  .entry-meta-top,
  .entry-header,
  .entry-meta-bottom {
    margin: 0 8.33%;
  }

  .entry-content {
    margin: 1.5em 8.33%;
  }

  .entry .featured-image {
    height: 312px;
  }
}
/* 1100 */
@media all and (min-width: 68.75em) {
  .entry-meta-top,
  .entry-header,
  .entry-meta-bottom {
    margin: 0 16.67%;
  }

  .entry-content {
    margin: 1.5em 16.67%;
  }

  .entry .featured-image {
    height: 336px;
  }
}
/* 1200px */
@media all and (min-width: 75em) {
  .entry .featured-image {
    height: 408px;
  }
}


/* 500px */
@media all and (min-width: 31.25em) {
  .comments {
    margin: 0 11.11%;
  }

  .comment-pagination p {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
  .comment-pagination .next-comment {
    text-align: right;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .comments {
    margin: 0 8.33%;
  }
}
/* 1100 */
@media all and (min-width: 68.75em) {
  .comments {
    margin: 0 16.67%;
  }
}


/* 500px */
@media all and (min-width: 31.25em) {
  .site-footer {
    padding: 1.5em 11.11% 0;
  }

  .copyright {
    padding: 12px 11.11%;
    left: -14.25%;
    width: 128.5%;
  }
}
/* 700px */
@media all and (min-width: 43.75em) {
  .site-footer .widget {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-right: 1em;
    float: left;
  }

  .sidebar-subsidiary:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .site-footer {
    float: right;
    width: 66.66%;
    padding: 1.5em 5.55% 0;
  }

  .copyright {
    left: -10%;
    width: 120%;
  }
}
/* 1100 */
@media all and (min-width: 68.75em) {
  .site-footer {
    padding-left: 11.11%;
  }

  .copyright {
    left: -22%;
    width: 133.15%;
  }
}


/* 900px */
@media all and (min-width: 56.25em) {
  .search-form-container .search-field {
    color: #e6e6e6;
    background: #666666;
    padding: 0.75em 8.33%;
  }
  .search-form-container .search-field::-webkit-input-placeholder {
    color: #e6e6e6;
  }
  .search-form-container .search-field:-moz-placeholder {
    color: #e6e6e6;
  }
  .search-form-container .search-field::-moz-placeholder {
    color: #e6e6e6;
  }
  .search-form-container .search-field:-ms-input-placeholder {
    color: #e6e6e6;
  }
  .search-form-container .search-field:focus {
    background: #333333;
  }

  .search-form-container.open .search-submit {
    color: #e6e6e6;
  }
  .search-form-container.open .search-submit:hover {
    background-color: #575757;
  }
  .search-form-container.open .search-submit:focus {
    background-color: #333333;
  }
}
/* 1100 */
@media all and (min-width: 68.75em) {
  .search-form-container .search-field {
    padding: 0.75em 16.67%;
  }
}


/* 900px */
@media all and (min-width: 56.25em) {
  .attachment .entry {
    margin-top: 72px;
  }
}


/* 500px */
@media all and (min-width: 31.25em) {
  .search .search-bottom {
    margin: 1.5em 11.11%;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .search .search-bottom {
    margin: 1.5em 8.33%;
  }
}
/* 1100 */
@media all and (min-width: 68.75em) {
  .search .search-bottom {
    margin: 1.5em 16.67%;
  }
}
