/*.entry { margin-top: 1.85em; }*/
.page li { display: block; }
button, input, select, #qsearch__in::placeholder { color: #666666; }
input, select { box-sizing: border-box; }
#writtensidebar { line-height: 1em; }
.dokuwikierrorsandnotices { margin: 1em 0px; }
.searchcontainer { clear: both; margin: 1em 0px; }
#qsearch__in { width: 56%; }
#mediamanager__page .file { width: 70%; clear: both; }
.excerpt-meta { right: 82% !important; }
.entry { padding-top: 64px !important; }
.excerpt-meta { top: 100px !important; }
.newmetamenu li { display: block; margin-bottom: 0.35em;}
.page li, .page dd { display: block; margin: 0.35em 0px; }
.site-info { margin-bottom: 1.35em; }
#writtensidebar a { padding: 0px; background-image: none; color: unset; }

#config__manager fieldset { clear: both; }
#config__manager table { border-collapse: revert; border-spacing: 0px 1.85em; }
#config__manager tr { padding: 1em 0px; }
#config__manager td.label span.outkey { font-size: 1.15em !important; }

/* defined in /lib/plugin/config.style.css */
#config__manager td input.edit {
    width: 20em;
}
#config__manager td .input {
    width: 20.8em;
}
#config__manager td select.edit { }
#config__manager td textarea.edit {
    width: 17.5em;
    height: 4em;
}


/*
Theme Name: Drop
Theme URI: https://www.competethemes.com/drop/
Author: Compete Themes
Author URI: https://www.competethemes.com/
Description: A Bold, Responsive Blog Theme
Tags: gray, green, tan, white, light, white, one-column, responsive-layout, accessibility-ready, custom-menu, featured-images, microformats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
Version: 1.21
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: drop

Drop WordPress Theme, Copyright 2015 Compete Themes
Drop is distributed under the terms of the GNU GPL
*/
/*===== Variables =====*/
/* Theme Colors */
/* Typography Variables */
/* Used in compass */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/*===== Basic Styles =====*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 24px;
  font-family: "montserrat", "open sans", "sans-serif";
  font-weight: 400;
  /*color: #666666;*/
  /*background: #333333;*/
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  text-align: left;
  direction: ltr;
  unicode-bidi: embed;
  width: __site_width__; 
  /*desbest edit*/
}

.overflow-container {
  overflow: hidden;
}

.main {
  margin: 0 auto;
  background: __background__;
  position: relative;
  left: 0;
  overflow: hidden;
  z-index: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

h1 {
  font-size: 2.625em;
  /* 42px */
  line-height: 1.143;
}

h2 {
  font-size: 2.25em;
  /* 36px */
  line-height: 1.33;
}

h3 {
  font-size: 1.625em;
  /* 26px */
  line-height: 1.08;
}

h4 {
  font-size: 1.3125em;
  /* 21px */
  line-height: 1.14;
}

h5 {
  font-size: 1.3125em;
  /* 21px */
  line-height: 1.14;
}

h6 {
  font-size: 1em;
  line-height: 1.5;
}

/* Markup styles */
p {
  font-family: "open sans", "sans-serif";
  margin: 24px 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

a:link {
  color: __link__;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

a:visited {
  color: #20664a;
}

a:hover,
a:active,
a:focus {
  color: __existing__;
}

article a {
  text-decoration: underline;
}

ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 24px 5.55%;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin: 0 5.55%;
}

ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

article {
  font-family: "open sans", "sans-serif";
}

article hr {
  border: none;
  text-align: center;
  font-size: 3em;
  line-height: 0;
  margin-bottom: 1em;
  color: #cccccc;
}

article hr:after {
  content: ". . .";
}

pre {
  background: whitesmoke;
  padding: 0.75em;
  border-top: solid 0.063em #e6e6e6;
  border-left: solid 0.063em #e6e6e6;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

code {
  background: whitesmoke;
}

blockquote {
  margin: 0 12.499%;
  quotes: "\201C" "\201D";
  position: relative;
}
blockquote cite {
  display: block;
  margin-top: 24px;
  font-style: italic;
  text-align: right;
}

blockquote:before {
  content: open-quote;
  top: 0.083em;
  left: -0.5em;
  color: #e6e6e6;
  position: absolute;
  font-size: 6em;
  z-index: 0;
  /* make sure doesn't go behind a background */
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 24px 0;
}

td {
  padding: 0.25em 0.5em;
  /* 8px / 16px */
  border: solid 0.063em #666666;
}

th {
  padding: 0.25em 0.5em;
  /* 8px / 16px */
  border: solid 0.063em #666666;
}

/* Image styles*/
.alignleft {
  float: left;
  margin: 0 1em 24px 0;
}

.alignright {
  float: right;
  margin: 0 0 24px 1em;
}

.aligncenter {
  text-align: center;
  margin: 24px auto;
  display: block;
}

.alignnone {
  margin: 24px;
}

img,
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.wp-caption {
  line-height: 0;
}

.wp-caption-text {
  margin: 0;
  display: inline-block;
  border-bottom: solid 0.077em #e6e6e6;
  font-size: 0.813em;
  line-height: 1.85;
}

/* Form styles */
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):not([type="image"]):not([type="search"]),
textarea {
  color: #666666;
  background: whitesmoke;
  font-family: "montserrat", "open sans", "sans-serif";
  padding: 1.6em;
  width: 100%;
  border: none;
  margin: 0;
  -webkit-appearance: none;
  border-radius: 0;
}

input {
  max-width: 30em;
}

textarea {
  max-width: 40em;
}

input[type="submit"] {
  padding: 1.6em;
  border: none;
  margin: 0;
  width: 100%;
  max-width: 20em;
  -webkit-appearance: none;
  border-radius: 0;
  background: #28805d;
  font-family: "montserrat", "open sans", "sans-serif";
  color: white;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  cursor: pointer;
  background: #2f996f;
}

.post-password-form input[type="password"] {
  display: block;
  margin: 12px 0 !important;
}

/* placeholders */
::-webkit-input-placeholder {
  color: #cccccc;
  font-family: "montserrat", "open sans", "sans-serif";
}

:-moz-placeholder {
  color: #cccccc;
  font-family: "montserrat", "open sans", "sans-serif";
}

::-moz-placeholder {
  color: #cccccc;
  font-family: "montserrat", "open sans", "sans-serif";
}

:-ms-input-placeholder {
  color: #cccccc;
  font-family: "montserrat", "open sans", "sans-serif";
}

/* screen reader styling */
.screen-reader-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

/* skip content link */
.skip-content {
  position: absolute;
  top: -9em;
  width: 100%;
  left: 0;
  display: block;
  text-align: center;
  color: white !important;
  z-index: 99;
  padding: 0.75em;
  background: #333333;
}
.skip-content:focus {
  top: 3em;
}

/*----- Menu Styles -----*/
button.toggle-button {
  color: #e6e6e6;
  text-shadow: -0.077em 0.077em #242424;
  font-size: 1.625em;
  line-height: 1.5;
  background: none;
  position: relative;
  border: none;
  font-size: 1.625em;
  /* 26px */
  line-height: 1.08;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
button.toggle-button:hover, button.toggle-button:active {
  cursor: pointer;
  outline: none;
}
button.toggle-button:focus {
  background: #242424;
}

.site-header {
  line-height: 0;
  position: relative;
  z-index: 0;
  background: #333333;
  padding: 0 5.55%;
  height: 3em;
}

.title-info {
  position: absolute;
  top: 0;
  right: 5.55%;
}
.title-info:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.site-title {
  font-size: 1.625em;
  /* 26px */
  line-height: 48px;
  text-transform: uppercase;
  text-shadow: -0.077em 0.077em #242424;
}
.site-title a,
.site-title a:link,
.site-title a:visited {
  color: #e6e6e6;
}
.site-title a:hover,
.site-title a:active,
.site-title a:focus {
  color: #37b382;
}
.site-title a:focus {
  background: whitesmoke;
}
.site-title img {
  max-width: 6em;
  max-height: 1.25em;
  display: inline-block;
  vertical-align: middle;
}

.menu-slider {
  position: absolute;
  left: 0;
  top: 3em;
  z-index: -1;
  width: 88.89%;
  height: 75em;
  padding: 1.5em 11.11%;
  background: #333333;
  color: #e6e6e6;
  text-align: center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.site-info img {
  border-radius: 50%;
  width: 4.5em;
  height: auto;
  margin: 0 auto;
  border-left: solid 0.125em #242424;
  border-bottom: solid 0.125em #242424;
}
.site-info p {
  line-height: 24px;
  font-family: "montserrat", "open sans", "sans-serif";
}
.site-info hr {
  margin: 0 auto 24px;
  width: 42.85%;
}

.menu-primary-items,
.menu-unset > ul {
  text-transform: uppercase;
  list-style: none;
}
.menu-primary-items ul,
.menu-unset > ul ul {
  list-style: none;
  position: relative;
  top: 100%;
  width: 100%;
  margin: 0 auto;
  background: rgba(36, 36, 36, 0.4);
  overflow: hidden;
}
.menu-primary-items ul a,
.menu-unset > ul ul a {
  padding: 12px;
  margin: 0;
}
.menu-primary-items ul li,
.menu-unset > ul ul li {
  padding: 0;
}
.menu-primary-items li,
.menu-unset > ul li {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-primary-items li a,
.menu-unset > ul li a {
  display: block;
  line-height: 24px;
  color: #e6e6e6;
  padding: 12px 0;
}
.menu-primary-items li a:link, .menu-primary-items li a:visited,
.menu-unset > ul li a:link,
.menu-unset > ul li a:visited {
  color: #e6e6e6;
}
.menu-primary-items li a:hover, .menu-primary-items li a:active, .menu-primary-items li a:focus,
.menu-unset > ul li a:hover,
.menu-unset > ul li a:active,
.menu-unset > ul li a:focus {
  color: #37b382;
  cursor: pointer;
  /* for unlinked parents */
}
.menu-primary-items .current-menu-item > a:after,
.menu-primary-items .current-menu-parent > a:after,
.menu-primary-items .current-menu-ancestor > a:after,
.menu-primary-items .current_page_item > a:after,
.menu-primary-items .current_page_parent > a:after,
.menu-primary-items .current_page_ancestor > a:after,
.menu-unset > ul .current-menu-item > a:after,
.menu-unset > ul .current-menu-parent > a:after,
.menu-unset > ul .current-menu-ancestor > a:after,
.menu-unset > ul .current_page_item > a:after,
.menu-unset > ul .current_page_parent > a:after,
.menu-unset > ul .current_page_ancestor > a:after {
  content: '';
  position: absolute;
  bottom: 0.5em;
  width: 25%;
  left: 37.5%;
  background: #28805d;
  height: 0.125em;
  z-index: 1;
}
.menu-primary-items .menu-item-has-children,
.menu-primary-items .page_item_has_children,
.menu-unset > ul .menu-item-has-children,
.menu-unset > ul .page_item_has_children {
  position: relative;
}
.menu-primary-items .menu-item-has-children > a,
.menu-primary-items .page_item_has_children > a,
.menu-unset > ul .menu-item-has-children > a,
.menu-unset > ul .page_item_has_children > a {
  margin-left: -21px;
}
.menu-primary-items .menu-item-has-children > a:before,
.menu-primary-items .page_item_has_children > a:before,
.menu-unset > ul .menu-item-has-children > a:before,
.menu-unset > ul .page_item_has_children > a:before {
  content: '+ ';
  font-size: 24px;
  line-height: 0;
  color: #28805d;
}

.social-media-icons {
  list-style: none;
}
.social-media-icons li {
  display: inline-block;
  margin: 0 0.125em;
  font-size: 1.625em;
  /* 26px */
  line-height: 1.08;
}
.social-media-icons li a,
.social-media-icons li a:link,
.social-media-icons li a:visited {
  color: #e6e6e6;
}
.social-media-icons li a:hover,
.social-media-icons li a:active,
.social-media-icons li a:focus {
  color: #37b382;
}

/* Blog */
.page-header {
  position: relative;
  background: #28805d;
  padding: 1.5em 5.55%;
  text-transform: uppercase;
  color: #333333;
  -webkit-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.page-header h1,
.page-header h2 {
  text-shadow: -0.063em 0.063em #20664a;
  color: #242424;
}
.page-header p {
  margin: 0;
}
.page-header > div {
  display: none;
}

.excerpts-container {
  position: relative;
  z-index: 10;
  /* so page header doesn't cover sticky outline */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.excerpt {
  margin: 1.5em 5.55% 4.5em;
  border-bottom: solid 1px #e6e6e6;
}

.sticky {
  margin: 0;
  padding: 1.5em 5.55% 4.5em;
  outline: solid 0.25em #666666;
  background: #b0e1ce;
}
.sticky .excerpt-meta,
.sticky .excerpt-content {
  color: #333333;
}
.sticky .excerpt-title a {
  color: #333333;
}
.sticky .excerpt-title a:link, .sticky .excerpt-title a:visited, .sticky .excerpt-title a:hover, .sticky .excerpt-title a:active, .sticky .excerpt-title a:focus {
  color: #333333;
}
.sticky a {
  color: #20664a;
}
.sticky a:link, .sticky a:visited {
  color: #20664a;
}
.sticky a:hover, .sticky a:active {
  color: #333333;
}

.featured-image {
  position: relative;
  height: 216px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50%;
  margin-bottom: 24px;
}
.featured-image a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.featured-image:after {
  content: '';
  position: absolute;
  top: 0.25em;
  width: 100%;
  left: -0.25em;
  bottom: -0.25em;
  background: #b3b3b3;
  z-index: -1;
}

.excerpt-date,
.excerpt-author,
.excerpt-category {
  display: inline-block;
}

.excerpt-date:after,
.excerpt-author:after {
  content: ' / ';
}

.excerpt-author span,
.excerpt-category span {
  display: none;
  /* also affects archive */
}
.excerpt-author a,
.excerpt-author a:link,
.excerpt-category a,
.excerpt-category a:link {
  text-decoration: underline;
  /* why is this being printed twice? */
}

.excerpt-title {
  text-transform: uppercase;
}
.excerpt-title a {
  color: #666666;
}
.excerpt-title a:hover,
.excerpt-title a:active,
.excerpt-title a:focus {
  text-decoration: underline;
}

.more-link {
  text-decoration: underline;
  clear: both;
}
.more-link:link {
  text-decoration: underline;
}

.loop-pagination {
  margin: 1.5em 5.55%;
  text-align: center;
  position: relative;
}
.loop-pagination a,
.loop-pagination span {
  margin: 0 0.25em;
}
.loop-pagination a:link,
.loop-pagination a:visited {
  color: #28805d;
}
.loop-pagination a:hover,
.loop-pagination a:active,
.loop-pagination a:focus {
  color: #2f996f;
}
.loop-pagination .prev,
.loop-pagination .next {
  position: absolute;
  text-transform: uppercase;
  text-decoration: underline;
}
.loop-pagination .prev:link,
.loop-pagination .next:link {
  text-decoration: underline;
}
.loop-pagination .prev {
  left: 0;
}
.loop-pagination .next {
  right: 0;
}

/* Post */
.entry-meta-top,
.entry-header,
.entry-meta-bottom {
  margin: 0 5.55%;
}

.entry {
  padding-top: 24px;
  padding-bottom: 48px;
}
.entry .featured-image:after {
  left: 0;
}

.entry.has-post-thumbnail {
  padding-top: 0;
}

.entry-meta-top p {
  font-family: "montserrat", "open sans", "sans-serif";
  margin-bottom: 0;
}
.entry-meta-top a,
.entry-meta-top a:link {
  text-decoration: underline;
}

.entry-title {
  text-transform: uppercase;
}

.entry-content {
  margin: 1.5em 5.55%;
}
.entry-content iframe {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.entry-meta-bottom {
  margin-top: 48px;
}

.further-reading {
  clear: both;
  margin-top: 48px;
  margin-bottom: 24px;
}
.further-reading p {
  font-family: "montserrat", "open sans", "sans-serif";
}
.further-reading span {
  text-transform: uppercase;
  display: block;
}
.further-reading a,
.further-reading a:link {
  text-decoration: underline;
  font-size: 0.813em;
  line-height: 1.85;
}

.entry-categories p,
.entry-tags p {
  font-family: "montserrat", "open sans", "sans-serif";
}
.entry-categories span,
.entry-tags span {
  text-transform: uppercase;
  display: block;
}
.entry-categories a,
.entry-tags a {
  margin: 0 1em 0 0;
  text-transform: uppercase;
  font-size: 0.813em;
  line-height: 1.85;
}

.singular-pagination {
  font-family: "montserrat", "open sans", "sans-serif";
  text-transform: uppercase;
}
.singular-pagination a {
  margin: 0 0.5em;
}

/* Comments */
.comments {
  margin: 0 5.55%;
  padding: 48px 0 24px;
  border-top: solid 0.125em #cccccc;
}
.comments ul,
.comments ol {
  list-style: none;
}

.comments-number {
  text-transform: uppercase;
}
.comments-number h3 {
  font-size: 2.25em;
  /* 36px */
  line-height: 1.33;
  font-weight: 400;
}

.comment-list {
  padding: 0;
  margin: 48px 0;
}
.comment-list ul {
  margin: 24px 0 24px 24px;
}
.comment-list ul li:first-child:before {
  content: "\2192";
  position: absolute;
  top: 0.75em;
  left: -1.6em;
}

li.comment,
li.pingback {
  margin-bottom: 48px;
  position: relative;
}
li.comment .avatar,
li.comment .author-profile-avatar,
li.pingback .avatar,
li.pingback .author-profile-avatar {
  width: 48px;
  height: auto;
  border-radius: 50%;
  float: left;
  margin-right: 1em;
  margin-bottom: 12px;
}
li.comment .avatar img,
li.comment .author-profile-avatar img,
li.pingback .avatar img,
li.pingback .author-profile-avatar img {
  border-radius: 50%;
}
li.comment .author-name a,
li.comment .author-name a:link,
li.pingback .author-name a,
li.pingback .author-name a:link {
  text-decoration: underline;
  text-transform: uppercase;
}
li.comment .comment-content,
li.pingback .comment-content {
  clear: both;
  margin: -12px 0;
}
li.comment .comment-footer,
li.pingback .comment-footer {
  font-size: 0.813em;
  line-height: 1.85;
}
li.comment .comment-footer div,
li.pingback .comment-footer div {
  display: inline-block;
}
li.comment .comment-reply-link,
li.pingback .comment-reply-link {
  text-transform: uppercase;
}
li.comment .comment-reply-link:after,
li.pingback .comment-reply-link:after {
  content: ' | ';
  text-decoration: none;
  color: #666666;
}
li.comment .comment-edit-link:before,
li.pingback .comment-edit-link:before {
  content: ' | ';
  color: #666666;
}

.bypostauthor img {
  border: solid 0.125em #28805d;
}

.comment-pagination p {
  font-family: "montserrat", "open sans", "sans-serif";
  text-transform: uppercase;
  text-align: center;
}

.comments-closed {
  font-family: "montserrat", "open sans", "sans-serif";
  text-transform: uppercase;
}

/* Comment form */
.comment-reply-title {
  text-transform: uppercase;
  font-weight: 400;
}

.comment-respond {
  margin-bottom: 48px;
}

/* Footer */
.site-footer {
  background: #333333;
  padding: 1.5em 5.55% 0;
  position: relative;
  color: #b3b3b3;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.site-footer a {
  color: white;
}
.site-footer a:link, .site-footer a:visited {
  color: white;
}
.site-footer a:hover, .site-footer a:active, .site-footer a:focus {
  color: #2f996f;
}
.site-footer .widget-title {
  text-transform: uppercase;
  font-weight: 400;
}
.site-footer .widget ul,
.site-footer .widget ol {
  list-style: none;
  margin-right: 0;
}
.site-footer .copyright {
  background: #242424;
}

.sidebar-subsidiary {
  padding-bottom: 24px;
}

.copyright {
  position: relative;
  background: #333333;
  color: #b3b3b3;
  text-transform: uppercase;
  width: 113%;
  left: -6.5%;
  padding: 24px 5.55%;
  text-align: center;
}
.copyright p {
  font-family: "montserrat", "open sans", "sans-serif";
  font-size: 0.813em;
  line-height: 1.85;
  margin: 0;
}
.copyright a,
.copyright a:link,
.copyright a:visited {
  color: #b3b3b3;
  text-decoration: underline;
}
.copyright a:hover,
.copyright a:active,
.copyright a:focus {
  color: #28805d;
}

/* Attachment styles */
.singular-attachment .further-reading a {
  font-size: 1em;
  line-height: 1.5;
  color: #666666;
}
.singular-attachment .further-reading a:link, .singular-attachment .further-reading a:visited {
  color: #666666;
}
.singular-attachment .further-reading a:hover, .singular-attachment .further-reading a:active, .singular-attachment .further-reading a:focus {
  color: #28805d;
}
.singular-attachment .further-reading p {
  width: 49.5%;
}

/* Search Form */
.search-form-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
.search-form-container input {
  border: none;
}
.search-form-container form {
  position: absolute;
  height: 100%;
  width: 100%;
}
.search-form-container .search-field {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: none;
  height: 72px;
  z-index: -1;
  padding: 0.75em 11.11%;
  font-family: "montserrat", "open sans", "sans-serif";
  font-size: 1em;
  line-height: 1.5;
  color: #666666;
  background: #e6e6e6;
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.search-form-container .search-field::-webkit-input-placeholder {
  color: #666666;
}
.search-form-container .search-field:-moz-placeholder {
  color: #666666;
}
.search-form-container .search-field::-moz-placeholder {
  color: #666666;
}
.search-form-container .search-field:-ms-input-placeholder {
  color: #666666;
}
.search-form-container input[type="search"].search-field {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
.search-form-container .search-submit {
  background: none;
  font-size: 16px;
  z-index: 0;
  /* so 'sticky' post outline doesn't get cut off */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search-form-container span {
  color: white;
  background: #28805d;
  z-index: 5;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.search-form-container span i {
  font-size: 1.625em;
  /* 26px */
  line-height: 1.08;
  position: absolute;
  top: 28%;
  left: 35%;
  left: calc(50% - 12px);
}
.search-form-container .search-submit,
.search-form-container span {
  position: absolute;
  right: 0;
  top: 0;
  width: 22.22%;
  height: 100%;
  display: block;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-span,
input[type="search"]::-webkit-search-results-span,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search-form-container.open .search-field {
  top: 100%;
}
.search-form-container.open .search-submit {
  top: 100%;
  height: 4.5em;
  color: #666666;
}
.search-form-container.open .search-submit:hover, .search-form-container.open .search-submit:focus {
  background-color: #b3b3b3;
}
.search-form-container.open span {
  background: #20664a;
}

/* content attachment */
.attachment .entry {
  margin-top: 48px;
}

.singular-page .entry {
  padding-top: 0;
}

/* 404 */
.error-404 .entry,
.search .entry {
  padding-top: 0;
}
.error-404 .search-form-container,
.search .search-form-container {
  position: relative;
  height: 4.5em;
  margin-bottom: 48px;
}
.error-404 .search-form-container form,
.search .search-form-container form {
  top: -100%;
}
.error-404 .search-form-container .search-field,
.error-404 .search-form-container .search-submit,
.search .search-form-container .search-field,
.search .search-form-container .search-submit {
  top: 100%;
  z-index: 2;
}
.error-404 .search-form-container .search-submit,
.search .search-form-container .search-submit {
  background: #20664a;
}
.error-404 .search-form-container .search-submit:hover, .error-404 .search-form-container .search-submit:active, .error-404 .search-form-container .search-submit:focus,
.search .search-form-container .search-submit:hover,
.search .search-form-container .search-submit:active,
.search .search-form-container .search-submit:focus {
  background: #2f996f;
}
.error-404 .search-form-container span,
.search .search-form-container span {
  top: 100%;
  z-index: 1;
}
.error-404 .search-form-container span i,
.search .search-form-container span i {
  top: 15%;
}

.search .search-bottom {
  margin: 1.5em 5.55%;
  border-top: solid 0.125em #cccccc;
}
